{% extends "AppCoder/padre.html" %}

{% load static %}

{% block contenidoQueCambia %}
      <!-- banner -->
      <section class="banner_main">
        <div class="container">
           <div class="row d_flex">
              <div class="col-md-12">
                 <div class="text-bg">
                    <h1>BUSCAR AUTOS</h1>
                    <!--<span>Encontra el auto para vos</span>
                    <p>
                       Si neceitas ayuda para encontrar un auto este es el lugar para hacerlo. 
                       <head></head> -->
                    </p>
                 </div>
              </div>
           </div>
        </div>
     </section>
     </div>
     <!-- end banner -->

{% endblock %}

{% block contenidoQueCambia2 %}
 <!-- bestCar -->
 <div id="contact" class="bestCar">
    <div class="container">
       <div class="row">
          <div class="col-md-12">
          </div>
       </div>
       <div class="row">
          <div class="col-sm-12">
             <div class="row">
                <div class="col-md-6 offset-md-6">
                   <form class="main_form">
                      <div class="titlepage">
                         <h2>Encontra el mejor auto para vos</h2>
                      </div>
                      <div class="row">
                         <div class="col-md-12 ">
                            <select>
                               <option value="0">Elegi el Modelo</option>
                               <option value="1">Cedan</option>
                               <option value="2">FAmiliar</option>
                               <option value="3">Coupe</option>
                            </select>
                         </div>
                         <div class="col-md-12">
                            <select>
                               <option value="0">Elegi rango de kilometros </option>
                               <option value="1">de 0 a 50.000</option>
                               <option value="2">de 50.001 a 150.000</option>
                               <option value="3">150.001 en adelante</option>
                            </select>
                         <!--</div>
                         <div class="col-md-12">
                            <input class="contactus" placeholder="Search" type="Search" name="Search">                          
                         </div>
                         <div class="col-md-12">-->
                            <div></div>
                            <div></div>
                            <select>
                               <option value="0">Elegi un rango de año</option>
                               <option value="1">hasta 1999</option>
                               <option value="2">del 2000 al 2015</option>
                               <option value="3">del 2015 a la actualidad</option>
                            </select>
                         </div>
                         <div class="col-sm-12">
                            <button class="find_btn">Buscar</button>
                         </div>
                      </div>
                   </form>
                </div>
             </div>
          </div>
       </div>
    </div>
 </div>
 <!-- end bestCar -->
 {% endblock %} -->