{% extends "AppCoder/padre.html" %}

{% load static %}

{% block contenidoQueCambia %}

<!-- car -->
<div  class="car">
    <div class="container">
       <div class="row">
          <div class="col-md-12">
             <div class="titlepage">
                <h2>VARIEDAD DE AUTOS</h2>
                <span>Busca por las distintas clases</span>
             </div>
          </div>
       </div>
       <div class="row">
          <div class="col-md-4 padding_leri">
             <div class="car_box">
                <figure><img src="{% static 'AppCoder/images/car_img1.png' %}" alt="#"/></figure>
                <h3>Sedan</h3>
             </div>
          </div>
          <div class="col-md-4 padding_leri">
             <div class="car_box">
                <figure><img src="{% static 'AppCoder/images/car_img2.png'%}" alt="#"/></figure>
                <h3>Familiar</h3>
             </div>
          </div>
          <div class="col-md-4 padding_leri">
             <div class="car_box">
                <figure><img src="{% static 'AppCoder/images/car_img3.png'%}" alt="#"/></figure>
                <h3>Coupe</h3>
             </div>
          </div>
       </div>
    </div>
 </div>
 <!-- end car -->
 


{% endblock %}
